<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Gestor de turnos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="turnos.css" />
    <link rel="stylesheet" href="Turnos.styles.css" />

    <HeadOutlet />

    @* <script src="js/turnos.js" defer></script> *@
    <script src="_content/MudBlazor/MudBlazor.min.js" defer></script>
    <script src="_framework/blazor.web.js" defer></script>
</head>

<body>
    <Routes />
</body>

</html>
