<section>

    <InputRadioGroup ValueChanged="ValueChanged" ValueExpression="ValueExpression" Value="Value">

        <label>
            <InputRadio Value="UserKind.Alumno" />
            <span>Alumno</span>
        </label>
        <label>
            <InputRadio Value="UserKind.Personal" />
            <span>Personal</span>
        </label>
        <span class="selection"></span>

    </InputRadioGroup>

</section>