@inherits UserPage
@rendermode InteractiveAuto

@inject IAlumnoService AlumnoService

<section class="filas-container">
    <Card Class="filas" TitleClass="title">

        <TitleTemplate>
            Filas disponibles
        </TitleTemplate>

        <ContentTemplate>  
            
        </ContentTemplate>

    </Card>
</section>

<section>

</section>

<section>

</section>