@page "/"
@rendermode InteractiveAuto
@attribute [Authorize]

<section>
    
    <AuthorizeView Policy="@Policies.IsAlumno">
        <AlumnoHome User="@context.User" />
    </AuthorizeView>

    <AuthorizeView Policy="@Policies.IsPersonal">
        <PersonalHome User="@context.User" />
    </AuthorizeView>


</section>
