@page "/ForgotPasswordConfirmation"

<section>
    <Card TitleClass="title">
        <TitleTemplate>
            Confirmación de contraseña olvidada
        </TitleTemplate>
        <ContentTemplate>
            Por favor, revisa tu correo para reiniciar tu contraseña.
        </ContentTemplate>
    </Card>
</section>
