@page "/ForgotPassword"

@inject UserManager<User> UserManager
@inject IEmailSender<User> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<section>

    <Card TitleClass="title">
        <TitleTemplate>
            ¿Contraseña olvidada?
        </TitleTemplate>
        <ContentTemplate>
            <EditForm Model="Model" class="forgot-password-form"
                      OnValidSubmit="ResetPassword"
                      FormName="forgot-password">

                <DataAnnotationsValidator />

                <InputField @bind-Value=@Model.Email
                            InputType="InputType.Text"
                            Autocomplete="username"
                            Label="Correo" Required Validate />

                <MudButton Class="submit-button"
                           ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled">
                    Reiniciar contraseña
                </MudButton>

            </EditForm>
        </ContentTemplate>
    </Card>

</section>