@page "/Register"
@rendermode InteractiveServer

@inject UserManager<User> UserManager
@inject IUserStore<User> UserStore
@inject SignInManager<User> SignInManager
@inject IEmailSender<User> EmailSender
@inject ILogger<Register> Logger
@inject IdentityRedirectManager RedirectManager
@inject IPasswordHasher<User> PasswordHasher
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<Notification Label="@_errorMessage" NotificationType="NotificationType.Error" />

<section class="register">

    <Card Class="min-w-[328px]" TitleClass="title" ActionClass="text-center">

        <TitleTemplate>
            Crea una cuenta
        </TitleTemplate>

        <ContentTemplate>
            <MudForm @ref=_form Model="Model" Spacing="1">

                <UserKindSelector @bind-Value=Model.Kind />

                <MudTextField @bind-Value=Model.Name
                              For="() => Model.Name"
                              Label="Nombre completo"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              InputType="InputType.Text" Required />

                <MudTextField @bind-Value=Model.Email
                              For="() => Model.Email"
                              Label="Correo"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              InputType="InputType.Text" Required />

                <MudTextField @bind-Value=Model.Password
                              For="() => Model.Password"
                              Label="Contraseña"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              InputType="InputType.Password" Required />

                <MudTextField @bind-Value=Model.ConfirmPassword
                              For="() => Model.ConfirmPassword"
                              Label="Confirmar contraseña"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              InputType="InputType.Password" Required />

                @if (Model.Kind is UserKind.Personal) {
                    <MudTextField @bind-Value=@Model.MasterKey
                                  Validation="@(new Func<string, string?>(ValidateMasterKey))"
                                  Label="Clave maestra"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  InputType="InputType.Password"
                                  RequiredError="Debes ingresar la clave maestra."
                                  Required />
                }

                @* ButtonType="ButtonType.Submit" *@
                <MudButton Class="submit-button"
                           Variant="Variant.Filled"
                           OnClick="RegisterUser">
                    Registrarse
                </MudButton>

            </MudForm>
        </ContentTemplate>

        <ActionTemplate>
            ¿Ya tienes una cuenta?
            <NavLink class="nav-link" href="@(NavigationManager.GetUriWithQueryParameters(Paths.Login, new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">
                Inicia sesión
            </NavLink>
        </ActionTemplate>

    </Card>

</section>