@page "/ResetPasswordConfirmation"

<section>
    <Card TitleClass="title">
        <TitleTemplate>
            Confirmación de cambio de contraseña
        </TitleTemplate>
        <ContentTemplate>
            Tu contraseña ha sido cambiada. Por favor, da <NavLink class="nav-link" href="@Paths.Login">click aqui</NavLink> para iniciar sesión.
        </ContentTemplate>
    </Card>
</section>