@page "/ResetPassword"
@using Turnos.Client.Abstractions

@inject IdentityRedirectManager RedirectManager
@inject UserManager<User> UserManager

<Notification Label="@Message" NotificationType="NotificationType.Error" />

<section>

    <Card Class="min-w-[328px]" TitleClass="title">
        <TitleTemplate>
            Cambiar contraseña
        </TitleTemplate>

        <ContentTemplate>
            <EditForm class="reset-form"
                      Model="Model"
                      FormName="reset-password">

                <DataAnnotationsValidator />

                <InputField InputType="InputType.Text"
                            @bind-Value=Model.Email
                            Autocomplete="username"
                            Label="Correo" Required Validate />

                <InputField InputType="InputType.Password"
                            @bind-Value=Model.Password
                            Autocomplete="new-password"
                            Label="Contraseña" Required Validate />

                <InputField InputType="InputType.Password"
                            @bind-Value=Model.ConfirmPassword
                            Autocomplete="new-password"
                            Label="Confirmar contraseña" Required Validate />

                <MudButton Class="submit-button"
                           ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled">
                    Registrarse
                </MudButton>

            </EditForm>
        </ContentTemplate>
    </Card>

</section>